{# src/FiveMinTo/BurgerBundle/Resources/views/layout.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  {{ parent() }} - Burger
{% endblock %}
 
{% block body %}
 
  <h1>Ajouter un burger</h1>
  
<<<<<<< HEAD
  <form action="{{ path("five_min_to_burger_add_burger") }}" method="POST" {{ form_enctype(form) }}>
=======
  <form action="{{ path("five_min_to_burger_add_burger") }}" method="post">  	
  	{{ form_widget(form) }}
  	<input class="btn btn-primary" type="submit">
  </form>
  
  <hr/>
>>>>>>> nothing change

    {{ form_row(form.titreBurger) }}
    {{ form_row(form.phraseAccrocheBurger) }}
    {{ form_row(form.phraseFinaleBurger) }}
    {{ form_row(form.descriptionBurger) }}
    {{ form_row(form.urlPhotoBurger) }}
    {{ form_row(form.urlVideoBurger) }}
    {{ form_row(form.metaKeywords) }}
    {{ form_row(form.metaDescription) }}
    {{ form_row(form.metaTitle) }}        
    
                
    <h3>Ajouter les ingrédients</h3>
    <ul class="burgerIngrediens" data-prototype="{{ form_widget(form.burgerIngredient.vars.prototype)|e }}">
        {% for bi in form.burgerIngredient %}
            <li>{{ form_row(bi.quantite) }}{{ form_row(bi.ingredient) }}</li>
        {% endfor %}
        <script>
	        // Récupère le div qui contient la collection d'ingredients
			var collectionHolder = $('ul.burgerIngrediens');
			
			// ajoute un lien "Ajouter un ingredient"
			var $addIngredientLink = $('<a href="#" class="add_ingredient_link">Ajouter un ingredient</a>');
			var $newLinkLi = $('<li></li>').append($addIngredientLink);
			
			jQuery(document).ready(function() {
			    // ajoute un lien de suppression à tous les éléments
	            collectionHolder.find('li').each(function() {
	            	addBurgerIngredientFormDeleteLink($(this));
	            });
	            
			    // ajoute l'ancre "Ajouter un ingredient" et li à la balise ul
			    collectionHolder.append($newLinkLi);
		
			    $addIngredientLink.on('click', function(e) {
			        // empêche le lien de créer un « # » dans l'URL
			        e.preventDefault();
			
			        // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
			        addBurgerIngredientForm(collectionHolder, $newLinkLi);
			    });
			});
        </script>
    </ul>
    
    <input type="submit" name="validerCreationBurger" value="Valider">
</form>

<script>
	function addBurgerIngredientForm(collectionHolder, $newLinkLi) {
	    // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
	    var prototype = collectionHolder.attr('data-prototype');
	
	    // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
	    // la longueur de la collection courante
	    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
	
	    // Affiche le formulaire dans la page dans un li, avant le lien "Ajouter un ingredient"
	    var $newFormLi = $('<li></li>').append(newForm);
	    $newLinkLi.before($newFormLi);
	    
	    addBurgerIngredientFormDeleteLink($newFormLi);

    }
    
    function addBurgerIngredientFormDeleteLink($burgerIngredientFormLi) {
	    var $removeFormA = $('<a href="#">Supprimer cet ingrédient</a>');
	    $burgerIngredientFormLi.append($removeFormA);
	
	    $removeFormA.on('click', function(e) {
	        // empêche le lien de créer un « # » dans l'URL
	        e.preventDefault();
	
	        // supprime l'élément li pour le formulaire BurgerIngredient
	        $burgerIngredientFormLi.remove();
	    });
	}
</script>
   
{% endblock %}
